:host {
  display: block;
  margin-bottom: .625rem;
}

.pointer {
  cursor: pointer;
}

input[type="radio"] {
  width: .8rem;
  height: .8rem;
}

.label {
  vertical-align: top;
  font-weight: 600;
}
